In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

pd.set_option('display.max_columns', None)

In [3]:
dict_val = {
    'insta_like_range_month_m':{
          1:'(-0.001, 13.95]'
        , 2:'(13.95, 67.2]'
        , 3:'(67.2, 181.1]'
        , 4:'(181.1, 7864.8]'
    }
    , 'insta_view_range_month_m':{
          1:'(-0.001, 2083.75]'
        , 2:'(2083.75, 359000.0]'
    }
    , 'insta_comment_range_month_m':{
          1:'(-0.001, 2.0]'
        , 2:'(2.0, 7.0]'
        , 3:'(7.0, 3329.0]' 
    }
    , 'fb_like_range_month_m':{
          1:'(-0.001, 0.4]'
        , 2:'(0.4, 6.2]'
        , 3:'(6.2, 4610.6]' 
    }
    , 'fb_comment_range_month_m':{
          1:'(-0.001, 0.2]'
        , 2:'(0.2, 110.2]'
    }
    , 'tiktok_biz_like_range_month_m':{
          1:'(-0.001, 11.3]'
        , 2:'(11.3, 47.312]'
        , 3:'(47.312, 3329.6]' 
    }
    , 'tiktok_biz_comment_range_month_m':{
          1:'(-0.001, 0.688]'
        , 2:'(0.688, 5562.6]'
    }
    , 'tiktok_nonbiz_like_range_month_m':{
          1:'(-0.001, 2.5]'
        , 2:'(2.5, 61.25]'
        , 3:'(61.25, 31200.0]'
    }
    , 'tiktok_nonbiz_view_range_month_m':{
          1:'(-0.001, 256.625]'
        , 2:'(256.625, 1633.0]'
        , 3:'(1633.0, 408000.0]'
    }
    , 'tiktok_nonbiz_view_range_month_m':{
          1:'(-0.001, 256.625]'
        , 2:'(256.625, 1633.0]'
        , 3:'(1633.0, 408000.0]'
    }
    , 'tiktok_nonbiz_comment_range_month_m':{
          1:'(-0.001, 2.0]'
        , 2:'(2.0, 197.0]'
    }
}

In [4]:
insta = pd.read_csv('cleaned_insta_range.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'cleaned_insta_range.csv'

In [ ]:
selected_cols = ['business_name', 'insta_followers', 'insta_like_range_month_m_1', 'insta_view_range_month_m_1'
                , 'insta_comment_range_month_m_1']

insta_filter = insta[selected_cols]

In [ ]:
facebook = pd.read_csv('cleaned_fb_range.csv')

In [ ]:
selected_cols = ['fb_followers', 'fb_like_range_month_m_1', 'fb_comment_range_month_m_1']

facebook_filter = facebook[selected_cols]

In [ ]:
tiktok_biz = pd.read_csv('cleaned_tiktok_biz_range.csv')

selected_cols = ['tiktok_followers', 'tiktok_likes', 'tiktok_like_range_month_m_1', 'tiktok_comment_range_month_m_1']

tiktok_biz_filter = tiktok_biz[selected_cols]

tiktok_biz_filter = tiktok_biz_filter.rename(columns = {'tiktok_like_range_month_m_1':'tiktok_biz_like_range_month_m_1'
                                   , 'tiktok_comment_range_month_m_1':'tiktok_biz_comment_range_month_m_1'})

In [ ]:
tiktok_nonbiz = pd.read_csv('cleaned_tiktok_nonbiz_range.csv')

selected_cols = ['tiktok_like_range_month_m_1', 'tiktok_view_range_month_m_1', 'tiktok_comment_range_month_m_1']

tiktok_nonbiz_filter = tiktok_nonbiz[selected_cols]

tiktok_nonbiz_filter = tiktok_nonbiz_filter.rename(columns = {'tiktok_like_range_month_m_1':'tiktok_nonbiz_like_range_month_m_1'
                                   , 'tiktok_comment_range_month_m_1':'tiktok_nonbiz_comment_range_month_m_1'
                                   , 'tiktok_view_range_month_m_1':'tiktok_nonbiz_view_range_month_m_1'})

In [ ]:
df_all = pd.concat([insta_filter, facebook_filter, tiktok_biz_filter, tiktok_nonbiz_filter],axis=1)

In [ ]:
df_all

,business_name,insta_followers,insta_like_range_month_m_1,insta_view_range_month_m_1,insta_comment_range_month_m_1,fb_followers,fb_like_range_month_m_1,fb_comment_range_month_m_1,tiktok_followers,tiktok_likes,tiktok_biz_like_range_month_m_1,tiktok_biz_comment_range_month_m_1,tiktok_nonbiz_like_range_month_m_1,tiktok_nonbiz_view_range_month_m_1,tiktok_nonbiz_comment_range_month_m_1
0,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",1800.0,"(-0.001, 0.4]","(-0.001, 0.2]",1651.0,37700.0,"(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(1633.0, 408000.0]","(2.0, 197.0]"
1,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",1800.0,"(6.2, 4610.6]","(0.2, 110.2]",1651.0,37700.0,"(11.3, 47.312]","(0.688, 5562.6]","(2.5, 61.25]","(1633.0, 408000.0]","(2.0, 197.0]"
2,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",1800.0,"(-0.001, 0.4]","(-0.001, 0.2]",1651.0,37700.0,"(47.312, 3329.6]","(0.688, 5562.6]","(61.25, 31200.0]","(1633.0, 408000.0]","(2.0, 197.0]"
3,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",1800.0,"(-0.001, 0.4]","(-0.001, 0.2]",1651.0,37700.0,"(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(1633.0, 408000.0]","(2.0, 197.0]"
4,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",1800.0,"(-0.001, 0.4]","(-0.001, 0.2]",1651.0,37700.0,"(47.312, 3329.6]","(0.688, 5562.6]","(2.5, 61.25]","(1633.0, 408000.0]","(-0.001, 2.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,Trade Boston,9565.0,"(13.95, 67.2]","(-0.001, 2083.75]","(-0.001, 2.0]",6100.0,"(0.4, 6.2]","(-0.001, 0.2]",NaN,NaN,NaN,NaN,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"
476,Trade Boston,9565.0,"(13.95, 67.2]","(-0.001, 2083.75]","(-0.001, 2.0]",6100.0,"(0.4, 6.2]","(-0.001, 0.2]",NaN,NaN,NaN,NaN,"(2.5, 61.25]","(256.625, 1633.0]","(2.0, 197.0]"
477,Trade Boston,9565.0,"(13.95, 67.2]","(-0.001, 2083.75]","(-0.001, 2.0]",6100.0,"(0.4, 6.2]","(-0.001, 0.2]",NaN,NaN,NaN,NaN,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"
478,Trade Boston,9565.0,"(13.95, 67.2]","(-0.001, 2083.75]","(-0.001, 2.0]",6100.0,"(0.4, 6.2]","(-0.001, 0.2]",NaN,NaN,NaN,NaN,"(2.5, 61.25]","(256.625, 1633.0]","(2.0, 197.0]"
479,Trade Boston,9565.0,"(13.95, 67.2]","(-0.001, 2083.75]","(2.0, 7.0]",6100.0,"(0.4, 6.2]","(-0.001, 0.2]",NaN,NaN,NaN,NaN,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"

In [ ]:
df_all_gb = df_all.groupby('business_name').last().reset_index()

In [ ]:
df_all_gb = df_all_gb.rename(columns = {'insta_like_range_month_m_1':'insta_like_range_month_m'
                           , 'insta_view_range_month_m_1':'insta_view_range_month_m'
                           , 'insta_comment_range_month_m_1':'insta_comment_range_month_m'
                           , 'fb_like_range_month_m_1':'fb_like_range_month_m'
                           , 'fb_comment_range_month_m_1':'fb_comment_range_month_m'
                           , 'tiktok_biz_like_range_month_m_1':'tiktok_biz_like_range_month_m'
                           , 'tiktok_biz_comment_range_month_m_1':'tiktok_biz_comment_range_month_m'
                           , 'tiktok_nonbiz_like_range_month_m_1':'tiktok_nonbiz_like_range_month_m'
                           , 'tiktok_nonbiz_comment_range_month_m_1':'tiktok_nonbiz_comment_range_month_m'
                           , 'tiktok_nonbiz_view_range_month_m_1':'tiktok_nonbiz_view_range_month_m'})

In [ ]:
df_all_gb = df_all_gb.fillna(0)

In [ ]:
df_all_gb

,business_name,insta_followers,insta_like_range_month_m,insta_view_range_month_m,insta_comment_range_month_m,fb_followers,fb_like_range_month_m,fb_comment_range_month_m,tiktok_followers,tiktok_likes,tiktok_biz_like_range_month_m,tiktok_biz_comment_range_month_m,tiktok_nonbiz_like_range_month_m,tiktok_nonbiz_view_range_month_m,tiktok_nonbiz_comment_range_month_m
0,154 STATION Burgers and drinks,12000.0,"(13.95, 67.2]","(2083.75, 359000.0]","(2.0, 7.0]",1.0,"(-0.001, 0.4]","(-0.001, 0.2]",0.0,0.0,0,0,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"
1,4 Corners Pizza,27000.0,"(181.1, 7864.8]","(2083.75, 359000.0]","(7.0, 3329.0]",1000.0,"(-0.001, 0.4]","(-0.001, 0.2]",23.0,287.0,"(47.312, 3329.6]","(-0.001, 0.688]","(2.5, 61.25]","(256.625, 1633.0]","(-0.001, 2.0]"
2,Abby Park | Milton Restaurant,2401.0,"(13.95, 67.2]","(-0.001, 2083.75]","(-0.001, 2.0]",2600.0,"(-0.001, 0.4]","(-0.001, 0.2]",0.0,0.0,0,0,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"
3,April 23 Cafe,1109.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",62.0,"(-0.001, 0.4]","(-0.001, 0.2]",0.0,0.0,0,0,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"
4,Area Four,20500.0,"(67.2, 181.1]","(-0.001, 2083.75]","(7.0, 3329.0]",5800.0,"(0.4, 6.2]","(0.2, 110.2]",0.0,0.0,0,0,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Yellow Door Taqueria,22000.0,"(181.1, 7864.8]","(-0.001, 2083.75]","(2.0, 7.0]",3000.0,"(6.2, 4610.6]","(0.2, 110.2]",126.0,1578.0,"(11.3, 47.312]","(-0.001, 0.688]","(61.25, 31200.0]","(1633.0, 408000.0]","(-0.001, 2.0]"
92,Yoki Express,1122.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",1900.0,"(0.4, 6.2]","(-0.001, 0.2]",0.0,0.0,0,0,"(2.5, 61.25]","(256.625, 1633.0]","(-0.001, 2.0]"
93,Zuma,16000.0,"(67.2, 181.1]","(2083.75, 359000.0]","(2.0, 7.0]",1500.0,"(-0.001, 0.4]","(-0.001, 0.2]",36.0,358.0,"(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(1633.0, 408000.0]","(-0.001, 2.0]"
94,by Love Art,4140.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",3200.0,"(-0.001, 0.4]","(-0.001, 0.2]",0.0,0.0,0,0,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"
95,loveartpoke,18.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]",37.0,"(-0.001, 0.4]","(-0.001, 0.2]",0.0,0.0,0,0,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]"

In [ ]:
#encode range
for key in dict_val.keys():
    dict_bucket = dict_val[key]
    dict_bucket_key = dict_bucket.keys()
    for dbk in dict_bucket_key:
        range_val = dict_bucket[dbk]
        df_all_gb.loc[df_all_gb[key]==range_val, key] = dbk

In [ ]:
df_all_gb

,business_name,insta_followers,insta_like_range_month_m,insta_view_range_month_m,insta_comment_range_month_m,fb_followers,fb_like_range_month_m,fb_comment_range_month_m,tiktok_followers,tiktok_likes,tiktok_biz_like_range_month_m,tiktok_biz_comment_range_month_m,tiktok_nonbiz_like_range_month_m,tiktok_nonbiz_view_range_month_m,tiktok_nonbiz_comment_range_month_m
0,154 STATION Burgers and drinks,12000.0,2,2,2,1.0,1,1,0.0,0.0,0,0,1,1,1
1,4 Corners Pizza,27000.0,4,2,3,1000.0,1,1,23.0,287.0,3,1,2,2,1
2,Abby Park | Milton Restaurant,2401.0,2,1,1,2600.0,1,1,0.0,0.0,0,0,1,1,1
3,April 23 Cafe,1109.0,1,1,1,62.0,1,1,0.0,0.0,0,0,1,1,1
4,Area Four,20500.0,3,1,3,5800.0,2,2,0.0,0.0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,Yellow Door Taqueria,22000.0,4,1,2,3000.0,3,2,126.0,1578.0,2,1,3,3,1
92,Yoki Express,1122.0,1,1,1,1900.0,2,1,0.0,0.0,0,0,2,2,1
93,Zuma,16000.0,3,2,2,1500.0,1,1,36.0,358.0,1,1,3,3,1
94,by Love Art,4140.0,1,1,1,3200.0,1,1,0.0,0.0,0,0,1,1,1
95,loveartpoke,18.0,1,1,1,37.0,1,1,0.0,0.0,0,0,1,1,1

In [ ]:
test_set = df_all_gb.copy()

In [ ]:
# test_res = ['Parla', 'Saloniki Greek', 'Bartaco', 'Teado Central', 'W Boston',
#        'PURO ceviche bar', 'Kavaneo Taverana', 'BAB', 'Cafe Luna',
#        'Bistro du Midi Boston', 'Blackbird Doughnuts',
#        'Umbria Steakhouse & Roofdeck', 'Grill 23 & Bar', 'Ruka Resto Bar',
#        "Davio's Northern Italian Steakhouse", "Bar 'Cino", 'No. 9 Park',
#        'Petit Robert Bistro', 'Dorchester Brewing Company']

In [ ]:
# train_set = df_all_gb.loc[~df_all_gb['business_name'].isin(test_res)]
# test_set = df_all_gb.loc[df_all_gb['business_name'].isin(test_res)]

# Final Prediction For all Models

In [6]:
with open('insta_model_like.pkl', 'rb') as file:
    insta_model_like = pickle.load(file)

FileNotFoundError: [Errno 2] No such file or directory: 'model_result/insta_model_like.pkl'

In [ ]:
with open('model_result/insta_model_comment.pkl', 'rb') as file:
    insta_model_comment = pickle.load(file)

In [ ]:
with open('model_result/insta_model_view.pkl', 'rb') as file:
    insta_model_view = pickle.load(file)

In [ ]:
with open('model_result/fb_model_like.pkl', 'rb') as file:
    fb_model_like = pickle.load(file)

In [ ]:
with open('model_result/fb_model_comment.pkl', 'rb') as file:
    fb_model_comment = pickle.load(file)

In [ ]:
with open('model_result/tiktok_biz_model_like.pkl', 'rb') as file:
    tiktok_biz_model_like = pickle.load(file)
    
with open('model_result/tiktok_biz_model_comment.pkl', 'rb') as file:
    tiktok_biz_model_comment = pickle.load(file)

In [ ]:
with open('model_result/tiktok_nonbiz_model_like.pkl', 'rb') as file:
    tiktok_nonbiz_model_like = pickle.load(file)
    
with open('model_result/tiktok_nonbiz_model_comment.pkl', 'rb') as file:
    tiktok_nonbiz_model_comment = pickle.load(file)
    
with open('model_result/tiktok_nonbiz_model_view.pkl', 'rb') as file:
    tiktok_nonbiz_model_view = pickle.load(file)

In [ ]:
cols_model = ['insta_followers', 'insta_like_range_month_m',
       'insta_view_range_month_m', 'insta_comment_range_month_m',
       'fb_followers', 'fb_like_range_month_m', 'fb_comment_range_month_m',
       'tiktok_followers', 'tiktok_likes', 'tiktok_biz_like_range_month_m', 
       'tiktok_biz_comment_range_month_m', 'tiktok_nonbiz_like_range_month_m', 
       'tiktok_nonbiz_view_range_month_m', 'tiktok_nonbiz_comment_range_month_m']

In [5]:
#predict round 1
model = insta_model_like
selected_cols = cols_model
col_name = 'insta_like_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_final = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})

NameError: name 'insta_model_like' is not defined

In [ ]:
test_result_final

    insta_like_range_month_m
0                          2
1                          4
2                          2
3                          1
4                          3
..                       ...
91                         4
92                         1
93                         4
94                         1
95                         1

[96 rows x 1 columns]

In [ ]:
model = insta_model_comment
selected_cols = cols_model
col_name = 'insta_comment_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
model = insta_model_view
selected_cols = cols_model
col_name = 'insta_view_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
model = fb_model_like
selected_cols = cols_model
col_name = 'fb_like_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
model = fb_model_comment
selected_cols = cols_model
col_name = 'fb_comment_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
model = tiktok_biz_model_like
selected_cols = cols_model
col_name = 'tiktok_biz_like_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
model = tiktok_biz_model_comment
selected_cols = cols_model
col_name = 'tiktok_biz_comment_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_like
selected_cols = cols_model
col_name = 'tiktok_nonbiz_like_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_comment
selected_cols = cols_model
col_name = 'tiktok_nonbiz_comment_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_view
selected_cols = cols_model
col_name = 'tiktok_nonbiz_view_range_month_m'

test_tem = test_set[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final = pd.concat([test_result_final, test_result_tem],axis=1)

In [ ]:
selected_col = ['insta_followers', 'fb_followers', 'tiktok_followers', 'tiktok_likes']
follow_likes_df = test_set[selected_col].reset_index(drop=True)

test_result_final = pd.concat([follow_likes_df, test_result_final],axis=1)

In [ ]:
final_prediction = test_result_final.copy()

In [ ]:
final_prediction = final_prediction.rename(columns = {'insta_like_range_month_m':'insta_like_range_month_m_1'
                                  , 'insta_comment_range_month_m':'insta_comment_range_month_m_1'
                                  , 'insta_view_range_month_m':'insta_view_range_month_m_1'
                                  , 'fb_like_range_month_m':'fb_like_range_month_m_1'
                                  , 'fb_comment_range_month_m':'fb_comment_range_month_m_1'
                                  , 'tiktok_biz_like_range_month_m':'tiktok_biz_like_range_month_m_1'
                                  , 'tiktok_biz_comment_range_month_m':'tiktok_biz_comment_range_month_m_1'
                                  , 'tiktok_nonbiz_like_range_month_m':'tiktok_nonbiz_like_range_month_m_1'
                                  , 'tiktok_nonbiz_comment_range_month_m':'tiktok_nonbiz_comment_range_month_m_1'
                                  , 'tiktok_nonbiz_view_range_month_m':'tiktok_nonbiz_view_range_month_m_1'})

In [ ]:
#predict round 2
model = insta_model_like
selected_cols = cols_model
col_name = 'insta_like_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_final_2 = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})

In [ ]:
test_result_final_2

    insta_like_range_month_m
0                          2
1                          4
2                          2
3                          1
4                          3
..                       ...
91                         4
92                         1
93                         4
94                         1
95                         1

[96 rows x 1 columns]

In [ ]:
model = insta_model_comment
selected_cols = cols_model
col_name = 'insta_comment_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
model = insta_model_view
selected_cols = cols_model
col_name = 'insta_view_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
model = fb_model_like
selected_cols = cols_model
col_name = 'fb_like_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
model = fb_model_comment
selected_cols = cols_model
col_name = 'fb_comment_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
model = tiktok_biz_model_like
selected_cols = cols_model
col_name = 'tiktok_biz_like_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
model = tiktok_biz_model_comment
selected_cols = cols_model
col_name = 'tiktok_biz_comment_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_like
selected_cols = cols_model
col_name = 'tiktok_nonbiz_like_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_comment
selected_cols = cols_model
col_name = 'tiktok_nonbiz_comment_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_view
selected_cols = cols_model
col_name = 'tiktok_nonbiz_view_range_month_m'

test_tem = test_result_final[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_2 = pd.concat([test_result_final_2, test_result_tem],axis=1)

In [ ]:
selected_col = ['insta_followers', 'fb_followers', 'tiktok_followers', 'tiktok_likes']
follow_likes_df = test_result_final[selected_col].reset_index(drop=True)

test_result_final_2 = pd.concat([follow_likes_df, test_result_final_2],axis=1)

In [ ]:
final_prediction = pd.concat([final_prediction, test_result_final_2.drop(selected_col,axis=1)],axis=1)

In [ ]:
final_prediction = final_prediction.rename(columns = {'insta_like_range_month_m':'insta_like_range_month_m_2'
                                  , 'insta_comment_range_month_m':'insta_comment_range_month_m_2'
                                  , 'insta_view_range_month_m':'insta_view_range_month_m_2'
                                  , 'fb_like_range_month_m':'fb_like_range_month_m_2'
                                  , 'fb_comment_range_month_m':'fb_comment_range_month_m_2'
                                  , 'tiktok_biz_like_range_month_m':'tiktok_biz_like_range_month_m_2'
                                  , 'tiktok_biz_comment_range_month_m':'tiktok_biz_comment_range_month_m_2'
                                  , 'tiktok_nonbiz_like_range_month_m':'tiktok_nonbiz_like_range_month_m_2'
                                  , 'tiktok_nonbiz_comment_range_month_m':'tiktok_nonbiz_comment_range_month_m_2'
                                  , 'tiktok_nonbiz_view_range_month_m':'tiktok_nonbiz_view_range_month_m_2'})

In [ ]:
#predict round 3
model = insta_model_like
selected_cols = cols_model
col_name = 'insta_like_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_final_3 = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})

In [ ]:
test_result_final_3

    insta_like_range_month_m
0                          2
1                          4
2                          2
3                          1
4                          3
..                       ...
91                         4
92                         1
93                         4
94                         1
95                         1

[96 rows x 1 columns]

In [ ]:
model = insta_model_comment
selected_cols = cols_model
col_name = 'insta_comment_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
model = insta_model_view
selected_cols = cols_model
col_name = 'insta_view_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
model = fb_model_like
selected_cols = cols_model
col_name = 'fb_like_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
model = fb_model_comment
selected_cols = cols_model
col_name = 'fb_comment_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
model = tiktok_biz_model_like
selected_cols = cols_model
col_name = 'tiktok_biz_like_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
model = tiktok_biz_model_comment
selected_cols = cols_model
col_name = 'tiktok_biz_comment_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_like
selected_cols = cols_model
col_name = 'tiktok_nonbiz_like_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_comment
selected_cols = cols_model
col_name = 'tiktok_nonbiz_comment_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
model = tiktok_nonbiz_model_view
selected_cols = cols_model
col_name = 'tiktok_nonbiz_view_range_month_m'

test_tem = test_result_final_2[selected_cols]
test_tem.reset_index(drop=True,inplace=True)

test_result_tem = pd.DataFrame(model.predict(test_tem)).rename(columns = {0:col_name})
test_result_final_3 = pd.concat([test_result_final_3, test_result_tem],axis=1)

In [ ]:
selected_col = ['insta_followers', 'fb_followers', 'tiktok_followers', 'tiktok_likes']
follow_likes_df = test_result_final_2[selected_col].reset_index(drop=True)

test_result_final_3 = pd.concat([follow_likes_df, test_result_final_3],axis=1)

In [ ]:
final_prediction = pd.concat([final_prediction, test_result_final_3.drop(selected_col,axis=1)],axis=1)

In [ ]:
final_prediction = final_prediction.rename(columns = {'insta_like_range_month_m':'insta_like_range_month_m_3'
                                  , 'insta_comment_range_month_m':'insta_comment_range_month_m_3'
                                  , 'insta_view_range_month_m':'insta_view_range_month_m_3'
                                  , 'fb_like_range_month_m':'fb_like_range_month_m_3'
                                  , 'fb_comment_range_month_m':'fb_comment_range_month_m_3'
                                  , 'tiktok_biz_like_range_month_m':'tiktok_biz_like_range_month_m_3'
                                  , 'tiktok_biz_comment_range_month_m':'tiktok_biz_comment_range_month_m_3'
                                  , 'tiktok_nonbiz_like_range_month_m':'tiktok_nonbiz_like_range_month_m_3'
                                  , 'tiktok_nonbiz_comment_range_month_m':'tiktok_nonbiz_comment_range_month_m_3'
                                  , 'tiktok_nonbiz_view_range_month_m':'tiktok_nonbiz_view_range_month_m_3'})

In [ ]:
#encode range
for m in range(1,4):
    for key in dict_val.keys():
        dict_bucket = dict_val[key]
        dict_bucket_key = dict_bucket.keys()
        for dbk in dict_bucket_key:
            range_val = dict_bucket[dbk]
            final_prediction.loc[final_prediction[f'{key}_{m}'] == dbk, f'{key}_{m}'] = range_val

In [ ]:
final_prediction.to_csv('final_prediction.csv', index=False)

In [ ]:
final_prediction['business_name'] = test_set['business_name']

In [ ]:
final_prediction

,insta_followers,fb_followers,tiktok_followers,tiktok_likes,insta_like_range_month_m_1,insta_comment_range_month_m_1,insta_view_range_month_m_1,fb_like_range_month_m_1,fb_comment_range_month_m_1,tiktok_biz_like_range_month_m_1,tiktok_biz_comment_range_month_m_1,tiktok_nonbiz_like_range_month_m_1,tiktok_nonbiz_comment_range_month_m_1,tiktok_nonbiz_view_range_month_m_1,insta_like_range_month_m_2,insta_comment_range_month_m_2,insta_view_range_month_m_2,fb_like_range_month_m_2,fb_comment_range_month_m_2,tiktok_biz_like_range_month_m_2,tiktok_biz_comment_range_month_m_2,tiktok_nonbiz_like_range_month_m_2,tiktok_nonbiz_comment_range_month_m_2,tiktok_nonbiz_view_range_month_m_2,insta_like_range_month_m_3,insta_comment_range_month_m_3,insta_view_range_month_m_3,fb_like_range_month_m_3,fb_comment_range_month_m_3,tiktok_biz_like_range_month_m_3,tiktok_biz_comment_range_month_m_3,tiktok_nonbiz_like_range_month_m_3,tiktok_nonbiz_comment_range_month_m_3,tiktok_nonbiz_view_range_month_m_3,business_name
0,12000.0,1.0,0.0,0.0,"(13.95, 67.2]","(-0.001, 2.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(13.95, 67.2]","(-0.001, 2.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(13.95, 67.2]","(-0.001, 2.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]",154 STATION Burgers and drinks
1,27000.0,1000.0,23.0,287.0,"(181.1, 7864.8]","(7.0, 3329.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]","(181.1, 7864.8]","(7.0, 3329.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]","(181.1, 7864.8]","(7.0, 3329.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]",4 Corners Pizza
2,2401.0,2600.0,0.0,0.0,"(13.95, 67.2]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(13.95, 67.2]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(13.95, 67.2]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]",Abby Park | Milton Restaurant
3,1109.0,62.0,0.0,0.0,"(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]",April 23 Cafe
4,20500.0,5800.0,0.0,0.0,"(67.2, 181.1]","(7.0, 3329.0]","(-0.001, 2083.75]","(0.4, 6.2]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(67.2, 181.1]","(7.0, 3329.0]","(-0.001, 2083.75]","(0.4, 6.2]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(67.2, 181.1]","(7.0, 3329.0]","(-0.001, 2083.75]","(0.4, 6.2]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]",Area Four
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22000.0,3000.0,126.0,1578.0,"(181.1, 7864.8]","(2.0, 7.0]","(-0.001, 2083.75]","(6.2, 4610.6]","(0.2, 110.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]","(181.1, 7864.8]","(2.0, 7.0]","(-0.001, 2083.75]","(6.2, 4610.6]","(0.2, 110.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]","(181.1, 7864.8]","(2.0, 7.0]","(-0.001, 2083.75]","(6.2, 4610.6]","(0.2, 110.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]",Yellow Door Taqueria
92,1122.0,1900.0,0.0,0.0,"(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(0.4, 6.2]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(0.4, 6.2]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(0.4, 6.2]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]",Yoki Express
93,16000.0,1500.0,36.0,358.0,"(181.1, 7864.8]","(2.0, 7.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]","(181.1, 7864.8]","(7.0, 3329.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]","(181.1, 7864.8]","(7.0, 3329.0]","(2083.75, 359000.0]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(61.25, 31200.0]","(-0.001, 2.0]","(1633.0, 408000.0]",Zuma
94,4140.0,3200.0,0.0,0.0,"(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]",by Love Art
95,18.0,37.0,0.0,0.0,"(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]","(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 11.3]","(-0.001, 0.688]","(-0.001, 2.5]","(-0.001, 2.0]","(-0.001, 256.625]",loveartpoke